@use '../styles' as styles;

.top-section{
    width: 70%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    .add-button{
        @extend %primary-button-style;
        width: 150px;
        padding-inline: 5px;
    }
}

@media(max-width: 800px){

    .top-section{
        width: 100%;
    }

}

@media(max-width: 550px){

    .top-section{
        flex-direction: column;

        .add-button{
            width: 100%;
        }
    }

}