.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .page{
        width: 80%;
    }
}

@media(max-width: 800px){
    .container{
        .page{
            width: 100%;
        }
    }
}

@media(max-width: 600px){
    .container{
        padding-inline: 10px;
    }
}
