.container {
    width: 100%;
    padding-inline: 20px;
    padding-block: 10px;
    background-color: var(--foreground-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    border-radius: 10px;

    .logo {
        width: 30px;
        height: 30px;
    }

    .theme-icon-container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        border-radius: 50%;
        cursor: pointer;

        &:hover{
            background-color: var(--background-color);
        }
    }

}