.nav {
    text-decoration: none;
    color: var(--foreground-theme-color);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        bottom: 0px;
        background-color: var(--primary-color);
        transition: all 200ms linear;
    }

    &:hover::before {
        width: 100%;
        transition: all 200ms linear;
    }
}

.active-nav {
    @extend .nav;
    color: var(--primary-color);

    &::before {
        background-color: inherit;
    }
}