.container {
    width: 100%;
    padding-inline: 20px;
    padding-block: 10px;
    background-color: var(--foreground-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;

    .logo {
        width: 30px;
        height: 30px;
    }

}