.container{
    background-color: var(--foreground-color);
    padding: 15px;
    border-radius: 10px;
    height: 100px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    .title{
        font-size: 1.1rem;
        font-weight: 600;
        max-height: 53px;
        overflow: hidden;
        padding-right: 45px;
    }

    .title-decorated{
        @extend .title;
        text-decoration: line-through;
        color: var(--disable-color);
    }

    .date{
        position: absolute;
        bottom: 7px;
        font-size: 0.7rem;
        color: var(--disable-color);
        font-weight: 600;
        right: 15px;
    }
}