.input{
    width: 100%;
    padding: 8px 10px 8px 40px;
    border: 1.5px solid var(--foreground-color);
    border-radius: 10px;
    outline: none;

    &:focus{
        border-color: var(--primary-color);
    }
}